.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 40px;
  background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
  position: relative; /* Fija la barra en la parte superior */
  width: 95%; /* Hace que la barra ocupe todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  font-family: 'Arial', sans-serif;
}

.logo a {
  text-decoration: none; /* Quita el subrayado */
  color: black; /* Cambia el color a negro */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
  /* flex: 1;  */
  justify-content: flex-end;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}

.traza {
  font-size: 2rem;
  
}

.nav-links li a:hover {
  color: #6b238e;
}

.login-btn {
  background-color: #6b238e;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos */
    padding: 10px 0; /* Ajustar el padding en pantallas pequeñas */
    width: 100%; /* Asegura que el navbar ocupe el 100% en pantallas pequeñas */
  }

  .nav-links {
    flex-direction: column; /* Apila los enlaces verticalmente */
    gap: 10px;
    width: 100%; /* Asegura que ocupe el ancho completo */
    justify-content: center; /* Centra los enlaces */
    margin-left: 0; /* Elimina el margen en móviles */
  }

  .nav-links li a {
    font-size: 1.9rem; /* Reduce el tamaño de la fuente en móviles */
  }

  .logo {
    text-align: center; /* Centra el logo en móviles */
    margin-bottom: 10px; /* Añadir espacio debajo del logo */
  }

  .login-btn {
    width: 100%; /* El botón ocupa el 100% en pantallas pequeñas */
    text-align: center;
    margin-top: 10px;
  }
}