.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 40px;
  background-color: hsl(0, 0%, 100%);
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
  
}

.logo {
  flex: 1; /* Ocupa todo el espacio disponible en pantallas pequeñas */
  text-align: left; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
  flex: 1; /* Ocupa espacio para empujar los enlaces */
  justify-content: flex-end;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}

.traza {
  font-size: 2rem;
  
}

.nav-links li a:hover {
  color: #6b238e;
}

.login-btn {
  background-color: #6b238e;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column; /* Apila los enlaces verticalmente */
    gap: 10px;
    width: 100%; /* Asegura que ocupe el ancho completo */
    justify-content: flex-start;
  }

  .nav-links li a {
    font-size: 1.5rem; /* Reduce un poco el tamaño de los enlaces */
  }
}

