body {
  margin: 0;
  height: 100vh; /* Ajusta la altura al 100% de la ventana */
  background-color: #f0f4f8;
}

.main-section {
  min-height: 100vh; /* Asegura que el fondo ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem;
  background-color: #e0e7f0;
}